
.question {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.question  img {
    width: 44.65px;
    height: 57.41px;
   
}
.question h1{
    font-size: 33px;
    font-weight: normal;
    color: #193051;
    margin-right: 15px;
}